<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<!-- ===== HEAD ===== -->

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title>My App</title>
</head>
<!-- ===== /HEAD ===== -->
<!-- ===== BODY ===== -->

<body id="login">
    <!-- ===== LOG IN FORM ===== -->
    <div class="container">
        <div class="row">
            <form class="login-form" name="login-form">
                <h1>Вход</h1>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Email" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Пароль" class="form-control" required>
                </div>
                <div id="error"></div>
                <button type="submit" class="btn btn-success">Войти</button>
            </form>
        </div>
    </div>
    <!-- ===== /LOG IN FORM ===== -->
    <!-- ===== SCRIPT ===== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
    <!-- ===== /SCRIPT ===== -->
</body>
<!-- ===== /BODY ===== -->

</html>