<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">
    <!--<link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">-->
    <title>My App</title>
    <style>
        #p_prldr {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #9A12B3;
            z-index: 30;
        }

        .contpre small {
            font-size: 25px;
        }

        .contpre {
            width: 250px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 48%;
            margin-left: -125px;
            margin-top: -75px;
            color: #fff;
            font-size: 40px;
            letter-spacing: -2px;
            text-align: center;
            line-height: 35px;
        }

        #p_prldr .svg_anm {
            position: absolute;
            width: 41px;
            height: 41px;
            background: url(../img/oval.svg) center center no-repeat;
            background-size: 41px;
            margin: -16px 0 0 -16px;
        }
    </style>
    <link rel="stylesheet/less" href="/bootstrap/less/bootstrap.less">
    <script src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            var $preloader = $('#p_prldr'),
                $svg_anm = $preloader.find('.svg_anm');
            // $svg_anm.fadeOut();
            $preloader.delay(8000).fadeOut('slow');
        });
    </script>
    <script src="/less/dist/less.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
</head>

<body>
    <div id="p_prldr">
        <div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>идет загрузка</small></div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">My App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <a class="btn btn-success" href="login/">Log in</button>
                    <a class="btn btn-danger" href="signup/">Sign up</a>
                </form>

            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>
                This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three
                supporting pieces of content. Use it as a starting point to create something more unique.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Some information for section 1</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Section 2</h2>
                <p>Some information for section 2 </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Section 3</h2>
                <p>Some information for section 1</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; My App 2015</p>
        </footer>
    </div>
    <!-- /container -->
    
    
</body>

</html>