<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
</head>

<body style="background-color: #6466AB">
    <img src="../img/404.jpg" alt="404" class="img-responsive" style="display: block; margin: 150px auto">
</body>

</html>